@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: black;
  /* width: 100vw; */
  padding: 0;
}
#root{
  margin:0;
  padding:0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@font-face {
  font-family: "pixelEmulator";
  src: url("./assets/fonts/Pixel Emulator.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}