.home {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  /* background-color:rgb(209, 209, 255); */

  flex-direction: column;
  /* height: 100%; */
  /* height: 100vh; */
}

body{
  padding-left: 76px;
  width: calc(100vw - 76px);
  /* height: 100%; */
  font-family: Arial, Helvetica, sans-serif;

  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}
.title {
  margin-top: 5vh;
  margin-left: 4rem;
  max-width: 60%;
  min-width: max-content;
  height: fit-content;
  /* font-size: 3vw; */
  display: flex;
  font-family: 'pixel-emulator', sans-serif;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 4vw;
}

.content {
  margin-top: 1rem;
  display: flex;
  /* margin:auto; */
  flex-direction: row;
  /* border: 1px solid black; */
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.contentText {
  position: relative;
  width: 200px;
  /* height: 150px; */
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.contentText::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.5px solid transparent;
  border-image: linear-gradient(to bottom right, red, blue);
  border-image-slice: 1;
  border-radius: inherit;
  box-sizing: border-box;
}

/* Your existing styles */
.contentText {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(14px);
  color: white;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  padding: 5px 20px 10px 20px;
  background: rgba(255, 255, 255, 0.05);
}
.projectName{
  margin: 10px auto ;
  font-size: 1.2em;
  font-weight: 700;
}
.projectImage{
  width: 100%;
}
@media screen and (min-width: 1104px) {
  .title {
    /* font-size: 70px; */
  }

}
@media screen and (max-width :500px) {
  .contentText{
    width: 80%;
  }
  .title {
    /* margin-top: 500px; */
    font-size: 20px;
  }
}
@media screen and (max-width :400px) {
  
  .title {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .title {
    /* font-size: 50px; */
    /* margin-left: 2rem; */
    width: 100%;
    margin: 10vw auto;
  }
  .contentText{
    margin: auto;
    width: 90%;
  }


  .contentText {
    margin-top: 2rem;
    width:50% ;
    /* margin-right: auto; */
    flex-direction: row;
  }

  body{
    padding: 0px;
    margin: 0px;
    width: 100vw;
  }
  .projectImage img{
    width: auto;
  }
}
.aboutEvent{
  color: grey;
}

@media screen and (max-width :350px) {
  
  .title {
    margin-top: 10vh;
    font-size: 18px;
    
  }
}
