.navBar {
  position: fixed;
  width: 8rem;
  max-width: 12%;
  min-width: 40px;
  background-color: rgb(0, 161, 161);
  border: 1px solid black;
  height: 100vh;
  position: fixed;
  /* overflow: hidden; */
  margin: auto;
  align-items: center;
  margin-left: -76px;
  margin-top: 0;
  border-radius: 0 15px 15px 0;
  background: rgba(255, 255, 255, 0.05);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(14px);
  /* border-radius: 10px; */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  border:1px solid transparent;
  z-index: 9999;
}

.navLinks,
.logo,
.share {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.navLinks{
  margin-top: 4rem;
  gap: 1rem;
}
.navLink {
  padding: 0.5rem 0.5rem;
  /* width: 2rem; */
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
  background-color: rgba(98, 98, 98, 0.262);
  /* background-color: red; */
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}
.logo {
  margin-top: 3rem;
  scale:1.5;
}
.share {
  justify-content: end;
}
nav {
  height: 90%;
  /* border:1px solid black ; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width:800px) {
  .navBar{
    display: none;
  }
} 
.toggleBars {
  position: fixed;
  top: 50px;
  left: 50px; 
  z-index: 999; 
}

.content-container {
  width: 200px; 
  overflow: hidden; 
}
.toggleContainer1{
  display: none;
  position: fixed;
  z-index: 11;

}
.toggle {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: rgba(212, 212, 212, 0.8);
  border-radius: 0px 20px 20px 0px;
  height: 100vh;
  width: 70vw;
}

.translate {
  transform: translateX(-200px);
  transition: 1s;
}

ul{
  list-style: none;
  height: 100%;
  margin-top: 10vh;
}
.listitem{
  font-size: 7vw;
  margin-top: 15%;
}

.link-icon{
  font-size: 1.3rem;
  margin-top: 15%;
}

@media (max-width:800px) {
    .toggleContainer1{
      display: block;
    }
}

@media (max-width:400px) {
  .toggleBars{
    top:30px;
    left:30px;
  }
}

