.navBar {
  position: fixed;
  width: 5vw;
  /* max-width: 12%; */
  min-width: 30px;
  border: 1px solid black;
  height: 100vh;
  position: fixed;
  /* overflow: hidden; */
  margin: auto;
  align-items: center;
  margin-left: 0;
  /* margin-left: -5%; */
  margin-top: 0;
  border-radius: 0 15px 15px 0;
  background: rgba(255, 255, 255, 0.05);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(14px);
  /* border-radius: 10px; */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  border: 1px solid transparent;
  z-index: 9999;
}

.navLinks,
.logo,
.share {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.navLinks {
  margin-top: 40%;
  gap: 15px;
}
.logo{
  width: 50%;
  margin:  auto;
}
.navLink {
  padding: 0.5rem 0.5rem;
  /* width: 2rem; */
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
  background-color: rgba(98, 98, 98, 0.262);
  /* background-color: red; */
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}
.logo {
  margin-top: 3rem;
  scale: 1.5;
}
.share {
  justify-content: end;
}
nav {
  height: 90%;
  /* border:1px solid black ; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .navBar {
    display: none;
  }
}
.toggleBars {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 99999;
}

.content-container {
  width: 200px;
  overflow: hidden;
}
.toggleContainer1 {
  display: none;
  position: fixed;
  z-index: 9999;
}
.toggle {
  font-family: "pixel-emulator";
  z-index: 10000;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: rgba(212, 212, 212, 0.8);
  border-radius: 0px 20px 20px 0px;
  height: 120vh;

  width: 70vw;
  background: rgba(255, 255, 255, 0.52);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.2px);
  -webkit-backdrop-filter: blur(12.2px);
  border: 1px solid rgba(255, 255, 255, 0.45);
  transition: 1s;
}

.translate {
  transform: translateX(-200px);
  transition: 1s;
  z-index: 9999;
}

ul {
  list-style: none;
  height: 100%;
  margin-top: 10vh;
}
.listitem {
  font-size: 7vw;
  margin-top: 15%;
}

.link-icon {
  font-size: 1.3rem;
  margin-top: 15%;
}

@media (max-width: 800px) {
  .toggleContainer1 {
    display: block;
  }
}

@media (max-width: 400px) {
  .toggleBars {
    top: 30px;
    left: 30px;
  }
}
